DJANGO_SECRET_KEY=your-secret-key-here

POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_DB=codingschool
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-db-password-here

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password-here
