<html>
<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333;">
<h2 style="color: #b07afe;">You got a new homework to check!</h2>
<p>Hello!</p>
<p>To view a homework, please click the button below:</p>
<p>
    <a href="{{ homework_url }}"
       style="display: inline-block; background-color: #b07afe; color: black; padding: 10px 15px; text-decoration: none; border-radius: 5px; font-size: 16px; font-family: Arial, sans-serif; text-align: center;">
        Go to homework!
    </a>
</p>
<p>If the button doesn't work, copy and paste the following URL into your browser:</p>
<p style="word-wrap: break-word;">
    <a href="{{ homework_url }}" style="color: #b07afe;">{{ url }}</a>
</p>
<br>
<p>Best regards,<br>Kooken Team</p>
</body>
</html>