{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/course_header.css' %}">
{% endblock %}
<header>
    <div class="header-content">
        <div class="logo">
            <a href="{% url 'main:index' %}">
                <span>KOOKEN</span>
            </a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'main:user_dashboard' %}"
                       class="{% if request.path == '/dashboard/' %}active{% endif %}">my
                        dashboard</a>
                </li>
                <li>
                    <a href="{% url 'course:available_course' %}"
                       class="{% if request.path == '/course/available/' %}active{% endif %}">my courses</a>
                </li>
                <li>
                    <a href="{% url 'main:community' %}"
                       class="{% if request.path == '/community/' %}active{% endif %}">community</a>
                </li>
                <li>
                    <a href="{% url 'main:job_search' %}"
                       class="{% if request.path == '/job_search/' %}active{% endif %}">job search</a>
                </li>
                {% if request.user.is_superuser or is_teacher %}
                <li>
                    <a href="{% url 'course:admin_dashboard' %}"
                       class="{% if request.path == '/admin-dashboard/' %}active{% endif %}">admin</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <div class="auth-buttons">
            <a href="{% url 'users:logout' %}">
                <button class="auth-btn">Log Out</button>
            </a>
            <a href="{% url 'users:profile' %}">
                <button class="auth-btn">Profile</button>
            </a>
        </div>
    </div>
</header>