{% extends 'course/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/admin_main.css' %}" media="screen">
{% endblock %}
{% block content %}
<div class="admin-page">
    <div class="admin-header">Admin Dashboard</div>
    <div class="container">
        <div class="admin-header">All homeworks</div>
        <div class="filter-container">
            <label><input type="checkbox" id="approved" onchange="filterTable()"> Approved</label>
            <label><input type="checkbox" id="pending" onchange="filterTable()"> Pending</label>
            <label><input type="checkbox" id="needs_revision" onchange="filterTable()"> Needs Revision</label>
        </div>
        <table id="homeworkTable">
            <thead>
            <tr>
                <th>Email</th>
                <th>Course</th>
                <th>Lesson</th>
                <th>Submitted at</th>
                <th>Link</th>
                <th>Status</th>
                <th>Full</th>
            </tr>
            </thead>
            <tbody>
            {% for homework in hw_submissions %}
            <tr data-status="{{ homework.status|lower }}">
                <td>{{ homework.user.email }}</td>
                <td>{{ homework.homework.lesson.course.title }}</td>
                <td>{{ homework.homework.lesson.title }}</td>
                <td>{{ homework.submitted_at }}</td>
                <td><a href="{{ homework.github_link }}" target="_blank">View Code</a></td>
                <td>{{ homework.status }}</td>
                <td><a href="{% url 'course:admin_homework_detail' homework.id %}" class="btn">Go to hw page!</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No users or subscription plans found.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'main/js/admin-dashboard.js' %}"></script>
{% endblock %}