{% extends 'course/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/available_courses.css' %}" media="screen">
{% endblock %}
{% block content %}
<div class="header">My courses</div>
<div class="sub-header">What a wonderful time to continue your tech journey. Go, little coding star!</div>
<div class="courses-container">
    {% for course in courses %}
    <div class="course-card">
        <img src="{% static 'course/images/' %}{{ course.title|slugify }}.png" alt="{{ course.title }}"
             class="course-image">
        <div class="course-info">
            <h3>{{ course.title }}</h3>
            <p>{{ course.description|slice:":100" }}...</p>
            <a href="{% url 'course:course_detail' course.id %}" class="btn">Go to course!</a>
        </div>
    </div>
    {% empty %}
    <p>No courses avalaible :(</p>
    {% endfor %}
</div>
<div class="button-container">
    <div class="custom-my-button">
        <a href="{% url 'main:user_dashboard' %}">Go to dashboard!!</a>
    </div>
</div>
{% endblock %}
