{% extends 'course/base.html' %}
{% load static %}
{% block content %}
<h1>My courses</h1>
<p>What a wonderful time to continue your tech journey. Go, little coding star!</p>
<div class="courses-container">
    {% for course in courses %}
    <div class="course-card">
        <img src="{% static 'course/images/' %}{{ course.title|slugify }}.png" alt="{{ course.title }}"
             class="course-image">
        <div class="course-info">
            <h3>{{ course.title }}</h3>
            <p>{{ course.description|slice:":100" }}...</p>
            <a href="{% url 'course:course_detail' course.id %}" class="btn">Go to course!</a>
        </div>
    </div>
    {% empty %}
    <p>No courses avalaible :(</p>
    {% endfor %}
</div>
<a href="{% url 'main:user_dashboard' %}" class="custom-button">Go to dashboard!!</a>


<style>
    .courses-container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        margin: 20px;
        padding: 20px 0;
        align-items: center; /* Центрирует карточки по вертикали */
        display: flex;
        justify-content: center;
        text-align: center; /* Чтобы текст внутри карточек был по центру */
 }

    .course-card {
         background-color: #fff;
         border-radius: 8px;
         box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
         overflow: hidden;
         text-align: center;
         width: 100%; /* Позволяет карточкам растягиваться */
         max-width: 300px; /* Максимальная ширина для карточки */
    }

    .course-image {
        width: 100%;
        height: 200px;
        object-fit: contain;
    }

 .course-info {
     padding: 15px;
 }

 .course-info h3 {
     font-size: 18px;
     color: #333;
     font-family: 'Raleway', sans-serif;
 }

 .course-info p {
     color: #666;
     font-family: 'Raleway', sans-serif;
     font-size: 14px;
     margin: 10px 0;
 }

 .btn {
     display: inline-block;
     padding: 10px 20px;
     background-color: #b07afe;
     color: black;
     text-decoration: none;
     border-radius: 5px;
     font-weight: bold;
     transition: background-color 0.3s;
 }

 .btn:hover {
    background-color: black;
    color: #b07afe;
    font-weight: bold;
 }
</style>
{% endblock %}
