{% extends 'course/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/course_detail.css' %}" media="screen">
{% endblock %}
{% block content %}
<div class="course-page">
    <div class="left-panel">
        <div class="lesson-list">
            <h3>{{ course.title }}</h3>
            <ul>
                {% for lesson in course.lessons.all %}
                <li>
                    <a href="#lesson{{ lesson.order }}" onclick="showLesson('lesson{{ lesson.order }}')">
                        Lesson {{ lesson.order }}: {{ lesson.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="right-panel">
        {% for data in lesson_data %}
        <div class="lesson-detail hidden" id="lesson{{ data.lesson.order }}">
            <div class="video-container">
                <div class="header-container">
                    <h3>Lesson {{ data.lesson.order }}: {{ data.lesson.title }}</h3>
                    <button class="toggle-video-button"
                            onclick="toggleVideoVisibility('video{{ data.lesson.order }}', this)">Hide Video
                    </button>
                    <button class="toggle-panel-button" onclick="toggleLeftPanel()">Hide Lessons</button>
                </div>
                {% if data.embed_url %}
                <iframe width="560" height="315"
                        src="{{ data.embed_url }}"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen class="video-frame" id="video{{ data.lesson.order }}">
                </iframe>
                {% else %}
                <p>No video available for this lesson.</p>
                {% endif %}
            </div>

            <div class="additional-resources-container">
                <button class="toggle-button test-link"
                        onclick="toggleSection('test{{ data.lesson.order }}', this, 'test-section', 'toggle-button')">
                    Take the test
                </button>
                <button class="toggle-button homework-link"
                        onclick="toggleSection('homework{{ data.lesson.order }}', this, 'homework-section', 'toggle-button')">
                    View Homework
                </button>
                <a href="{{ data.lesson.pdf_notes.url }}" class="pdf-link">Download notes (PDF)</a>
                <button class="toggle-button comments-link"
                        onclick="toggleSection('comments{{ data.lesson.order }}', this, 'comments-section', 'toggle-button')">
                    Open Comments
                </button>
                <button class="report-button">Report problem</button>
            </div>


            <div class="test-section section" id="test{{ data.lesson.order }}">
                <h4>Test for Lesson {{ data.lesson.order }}: {{ data.lesson.title }}</h4>
                {% if data.test_result %}
                {% if not reset_test %}
                <p id="attempts-count">
                    Attempts:
                    {% if data.test_result %}
                    {{ data.test_result.attempts }}
                    {% else %}
                    0
                    {% endif %}
                </p>
                <p id="score-percentage">
                    Max Score:
                    {% if data.test_result.score %}
                    {{ data.test_result.score }}%
                    {% else %}
                    0%
                    {% endif %}
                </p> {% if data.test_result.is_passed %}
                <p><strong>Congratulations!</strong> You passed the test.</p>
                {% else %}
                <p><strong>Sorry!</strong> You did not pass the test. Try again.</p>
                {% endif %}
                <form method="post" action="{% url 'course:course_detail' course.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="lesson_order" value="{{ data.lesson.order }}">
                    <button type="submit" name="retake_test">Retake Test</button>
                </form>
                {% endif %}
                {% endif %}

                {% if reset_test %}
                <form method="post" id="test-form{{ data.lesson.order }}"
                      action="{% url 'course:course_detail' course.id %}">
                    {% csrf_token %}
                    {% for question in data.test_data %}
                    <div class="question">
                        <p>{{ question.question }}</p>
                        {% for choice in question.answer_choices %}
                        <label>
                            <input type="radio" name="question_{{ forloop.parentloop.counter }}" value="{{ choice }}"
                                   required>
                            {{ choice }}
                        </label><br>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <input type="hidden" name="lesson_order" value="{{ data.lesson.order }}">
                    <button type="submit" name="submit_test">Submit Test</button>
                </form>
                {% endif %}
            </div>

            <div class="homework-section section" id="homework{{ data.lesson.order }}">
                <h4>Homework for Lesson {{ data.lesson.order }}: {{ data.lesson.title }}</h4>
                <p>{{ data.lesson.homework.task_description }}</p>
                {% if not data.homework_data %}
                <form method="post" id="homework-form{{ data.lesson.order }}"
                      action="{% url 'course:course_detail' course.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="lesson_order" value="{{ data.lesson.order }}">
                    <label for="github_link">GitHub Link:</label>
                    <input type="url" id="github_link" name="github_link" required>
                    <button type="submit" name="submit_homework">Submit Homework</button>
                </form>
                {% else %}
                <p>You submitted homework on {{ data.homework_data.submitted_at }}</p>
                <p>Homework status is <strong>{{ data.homework_data.status }}.</strong></p>
                {% endif %}
            </div>

            <div class="comments-section section" id="comments{{ data.lesson.order }}">
                <h4>Comments for Lesson {{ data.lesson.order }}: {{ data.lesson.title }}</h4>
                <div class="existing-comments">
                    {% for comment in data.lesson.comments.all %}
                    <div class="comment">
                        <p><strong>{{ comment.user.email }}:</strong> {{ comment.text }}</p>
                        <p><small>{{ comment.created_at }}</small></p>
                    </div>
                    {% endfor %}
                </div>
                <form method="post" id="comment-form{{ data.lesson.order }}"
                      action="{% url 'course:course_detail' course.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="lesson_order" value="{{ data.lesson.order }}">
                    <textarea name="text" rows="4" placeholder="Add a comment" required></textarea><br>
                    <button type="submit" name="submit_comment">Submit Comment</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'main/js/course-scripts.js' %}"></script>
{% endblock %}