{% extends 'main/base.html' %}
{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <!--                        <button type="submit" class="btn btn-primary">Log In</button>-->
                        <a href="{% url 'course:course_list' %}"
                           class="u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-custom-font u-font-raleway u-hover-black u-radius u-text-black u-text-hover-custom-color-1 u-btn-1">Log In</a>
                        <a class="btn btn-dark" href="{% url 'users:recovery_form' %}">Forgot password</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
