{% extends 'main/base.html' %}
{% block content %}
<div class="password-reset-page">
    <ul class="messages" id="messages" hx-swap-oob="true">
        {% if messages %}
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </li>
        {% endfor %}
        {% endif %}
    </ul>

    <form method="post" class="password-reset-form">
        <h2>Password Reset</h2>
        {% csrf_token %}
        <div class="form-group">
            <label for="email" class="form-label">Enter your email:</label>
            {{ form.email }}
            {% if form.email.errors %}
            <div class="text-danger">
                {% for error in form.email.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <button type="submit" class="btn-reset-password">Send Reset Link</button>
    </form>
    <div class="back-to-login">
        <a href="{% url 'users:login' %}" class="btn-back-to-login">Back to Login</a>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
      const messages = document.querySelectorAll('.messages > li');

      messages.forEach((message) => {
        setTimeout(() => {
          message.classList.add('message-deleting');
          setTimeout(() => message.remove(), 250);
        }, 5000);
        message.addEventListener('click', () => {
          message.classList.add('message-deleting');
          setTimeout(() => message.remove(), 250);
        });
      });
    });
</script>
{% endblock %}