{% extends 'course/base.html' %}
{% block content %}
<div class="profile-page">
    <form method="post" enctype="multipart/form-data" class="profile-form">
        <h2 id="register-heading">Profile</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-change">Save Changes</button>
        <div class="btn-actions">
            <a href="{% url 'users:change_password' %}" class="btn-change">Change Password</a>
            <a href="{% url 'users:delete_account' %}" class="btn-delete">Delete Account</a>
        </div>
        <h2>Your Subscription Plan</h2>
        <p>
            {% if user.subscription_plan %}
            You are subscribed to: <strong>{{ user.subscription_plan }}</strong>
            {% else %}
            You don't have an active subscription plan.
            {% endif %}
        </p>
    </form>
</div>
{% endblock %}
