{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div id="register-page" class="register-page">
    <form method="post" action="{% url 'users:register' %}" class="register-form">
        <h2 id="register-heading">Registration</h2>
        {% csrf_token %}

        <!-- Выводим ошибки, которые не привязаны к конкретным полям -->
        {% if form.non_field_errors %}
        <div id="non-field-errors" class="text-danger">
            {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <!-- Отображаем поля формы -->
        {% for field in form %}
        <div id="form-group-{{ field.name }}" class="form-group">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field }}

            <!-- Вывод ошибок для каждого поля -->
            {% if field.errors %}
            <div id="error-{{ field.name }}" class="text-danger">
                {% for error in field.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <div class="form-buttons">
            <button type="submit" id="register-button" class="btn-register">Register!</button>
            <a href="{% url 'course:course_list' %}" id="placeholder-button" class="btn-placeholder">Go to
                Placeholder!</a>
        </div>
    </form>
</div>


{% endblock %}
