{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <title>kooken</title>
    <link rel="stylesheet" href="{% static 'main/css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'main/css/register.css' %}" media="screen">

    <meta name="theme-color" content="#b07afe">
    <meta property="og:title" content="home">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
    <style>

        html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1; /* Контент занимает все доступное пространство */
}
    </style>
</head>
<body class="u-body u-xl-mode" data-lang="ru">
{% include 'main/includes/header.html' %}
{% block content %}
{% endblock %}
{% block extra_js %}
{% endblock %}
{% include 'main/includes/footer.html' %}
</body>
</html>
