{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'main/css/courses.css' %}" media="screen">

<section class="u-align-center u-clearfix u-container-align-center u-section-1" id="sec-74b6">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-align-center u-custom-font u-font-raleway u-text u-text-default u-text-1"> Select one of the
            courses below to learn more</h2>
    </div>
</section>
<section class="u-align-center u-clearfix u-container-align-center u-section-2" id="sec-d895">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-tab-links-align-justify u-tabs u-tabs-1">
            <ul class="u-border-1 u-border-grey-25 u-tab-list u-unstyled" role="tablist">
                <li class="u-tab-item" role="presentation"><a
                        class="active u-active-white u-border-1 u-border-active-grey-10 u-border-hover-custom-color-1 u-border-no-bottom u-btn-round u-button-style u-radius u-tab-link u-text-active-custom-color-1 u-text-black u-text-hover-custom-color-1 u-tab-link-1"
                        id="link-tab-3bca" href="#tab-3bca" role="tab" aria-controls="tab-3bca" aria-selected="true">Python</a>
                </li>
                <li class="u-tab-item" role="presentation"><a
                        class="u-active-white u-border-1 u-border-active-grey-10 u-border-hover-custom-color-1 u-border-no-bottom u-btn-round u-button-style u-radius u-tab-link u-text-active-custom-color-1 u-text-black u-text-hover-custom-color-1 u-tab-link-2"
                        id="link-tab-9e31" href="#tab-9e31" role="tab" aria-controls="tab-9e31"
                        aria-selected="false">C</a>
                </li>
                <li class="u-tab-item" role="presentation"><a
                        class="u-active-white u-border-1 u-border-active-grey-10 u-border-hover-custom-color-1 u-border-no-bottom u-btn-round u-button-style u-radius u-tab-link u-text-active-custom-color-1 u-text-black u-text-hover-custom-color-1 u-tab-link-3"
                        id="link-tab-38b6" href="#tab-38b6" role="tab" aria-controls="tab-38b6"
                        aria-selected="false">Go</a>
                </li>
                <li class="u-tab-item" role="presentation"><a
                        class="u-active-white u-border-1 u-border-active-grey-10 u-border-hover-custom-color-1 u-border-no-bottom u-btn-round u-button-style u-radius u-tab-link u-text-active-custom-color-1 u-text-black u-text-hover-custom-color-1 u-tab-link-4"
                        id="link-tab-714b" href="#tab-714b" role="tab" aria-controls="tab-714b" aria-selected="false">JavaScript</a>
                </li>
                <li class="u-tab-item" role="presentation"><a
                        class="u-active-white u-border-1 u-border-active-grey-10 u-border-hover-custom-color-1 u-border-no-bottom u-btn-round u-button-style u-radius u-tab-link u-text-active-custom-color-1 u-text-black u-text-hover-custom-color-1 u-tab-link-5"
                        id="link-tab-055d" href="#tab-055d" role="tab" aria-controls="tab-055d" aria-selected="false">SQL</a>
                </li>
            </ul>
            <div class="u-tab-content">
                <div class="u-container-style u-shape-rectangle u-tab-active u-tab-pane u-tab-pane-1" id="tab-3bca"
                     role="tabpanel" aria-labelledby="link-tab-3bca">
                    <div class="u-container-layout u-container-layout-1">
                        <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-1" data-image-width="800"
                             data-image-height="800" src="{% static 'main/css/images/python.png' %}">
                        <h4 class="u-text u-text-1">Description</h4>
                        <p class="u-text u-text-2">Sample text. Click to select the text box. Click again or double
                            click to start editing the text.</p>
                        <ul class="u-text u-text-3">
                            <li>
                                <div class="class u-list-icon"></div>
                                excepteur sint occaecat cupidatat non
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                sunt in culpa qui officia deserunt
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                ut enim ad minim veniam
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                quis nostrud exercitation ullamco
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                laboris nisi ut aliquip ex ea commodo
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                duis aute irure dolor in reprehenderit in
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </li>
                        </ul>
                        <a href="#"
                           class="u-btn u-btn-round u-button-style u-custom-color-1 u-custom-font u-font-raleway u-hover-black u-radius u-text-black u-text-hover-custom-color-1 u-btn-1"
                           data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                           data-animation-direction="">Enroll </a>
                    </div>
                </div>
                <div class="u-container-style u-shape-rectangle u-tab-pane u-tab-pane-2" id="tab-9e31" role="tabpanel"
                     aria-labelledby="link-tab-9e31">
                    <div class="u-container-layout u-container-layout-2">
                        <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-2" data-image-width="800"
                             data-image-height="800" src="{% static 'main/css/images/clang.png' %}">
                        <h4 class="u-text u-text-4">Description</h4>
                        <p class="u-text u-text-5">Sample text. Click to select the text box. Click again or double
                            click to start editing the text.</p>
                        <ul class="u-text u-text-6">
                            <li>
                                <div class="class u-list-icon"></div>
                                excepteur sint occaecat cupidatat non
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                sunt in culpa qui officia deserunt
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                ut enim ad minim veniam
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                quis nostrud exercitation ullamco
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                laboris nisi ut aliquip ex ea commodo
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                duis aute irure dolor in reprehenderit in
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </li>
                        </ul>
                        <a href="#"
                           class="u-btn u-btn-round u-button-style u-custom-color-1 u-custom-font u-font-raleway u-hover-black u-radius u-text-black u-text-hover-custom-color-1 u-btn-2"
                           data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                           data-animation-direction="">Enroll </a>
                    </div>
                </div>
                <div class="u-container-style u-shape-rectangle u-tab-pane u-tab-pane-3" id="tab-38b6" role="tabpanel"
                     aria-labelledby="link-tab-38b6">
                    <div class="u-container-layout u-container-layout-3">
                        <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-3" data-image-width="800"
                             data-image-height="800" src="{% static 'main/css/images/golang.png' %}">
                        <h4 class=" u-text u-text-7">Description</h4>
                        <p class="u-text u-text-8">Sample text. Click to select the text box. Click again or double
                            click to start editing the text.</p>
                        <ul class="u-text u-text-9">
                            <li>
                                <div class="class u-list-icon"></div>
                                excepteur sint occaecat cupidatat non
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                sunt in culpa qui officia deserunt
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                ut enim ad minim veniam
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                quis nostrud exercitation ullamco
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                laboris nisi ut aliquip ex ea commodo
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                duis aute irure dolor in reprehenderit in
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </li>
                        </ul>
                        <a href="#"
                           class="u-btn u-btn-round u-button-style u-custom-color-1 u-custom-font u-font-raleway u-hover-black u-radius u-text-black u-text-hover-custom-color-1 u-btn-3"
                           data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                           data-animation-direction="">Enroll </a>
                    </div>
                </div>
                <div class="u-container-style u-shape-rectangle u-tab-pane u-tab-pane-4" id="tab-714b" role="tabpanel"
                     aria-labelledby="link-tab-714b">
                    <div class="u-container-layout u-container-layout-4">
                        <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-4" data-image-width="800"
                             data-image-height="800" src="{% static 'main/css/images/jslang.png' %}">
                        <h4 class="u-text u-text-10">Description</h4>
                        <p class="u-text u-text-11">Sample text. Click to select the text box. Click again or double
                            click to start editing the text.</p>
                        <ul class="u-text u-text-12">
                            <li>
                                <div class="class u-list-icon"></div>
                                excepteur sint occaecat cupidatat non
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                sunt in culpa qui officia deserunt
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                ut enim ad minim veniam
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                quis nostrud exercitation ullamco
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                laboris nisi ut aliquip ex ea commodo
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                duis aute irure dolor in reprehenderit in
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </li>
                        </ul>
                        <a href="#"
                           class="u-btn u-btn-round u-button-style u-custom-color-1 u-custom-font u-font-raleway u-hover-black u-radius u-text-black u-text-hover-custom-color-1 u-btn-4"
                           data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                           data-animation-direction="">Enroll </a>
                    </div>
                </div>
                <div class="u-container-style u-shape-rectangle u-tab-pane u-tab-pane-5" id="tab-055d" role="tabpanel"
                     aria-labelledby="link-tab-055d">
                    <div class="u-container-layout u-valign-top u-container-layout-5">
                        <img alt="" class="u-expanded-width-xs u-image u-image-contain u-image-default u-image-5"
                             data-image-width="800" data-image-height="800" src="{% static 'main/css/images/sql.png' %}">
                        <h4 class="u-text u-text-13">Description</h4>
                        <p class="u-text u-text-14">Sample text. Click to select the text box. Click again or double
                            click to start editing the text.</p>
                        <ul class="u-text u-text-15">
                            <li>
                                <div class="class u-list-icon"></div>
                                excepteur sint occaecat cupidatat non
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                sunt in culpa qui officia deserunt
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                ut enim ad minim veniam
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                quis nostrud exercitation ullamco
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                laboris nisi ut aliquip ex ea commodo
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                duis aute irure dolor in reprehenderit in
                            </li>
                            <li>
                                <div class="class u-list-icon"></div>
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </li>
                        </ul>
                        <a href="#"
                           class="u-btn u-btn-round u-button-style u-custom-color-1 u-custom-font u-font-raleway u-hover-black u-radius u-text-black u-text-hover-custom-color-1 u-btn-5"
                           data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                           data-animation-direction="">Enroll </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}