{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'main/css/index.css' %}" media="screen">

<section class="u-align-center u-clearfix u-section-1" id="sec-6388">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="custom-expanded data-layout-selected u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout" style="">
                <div class="u-layout-row" style="">
                    <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1"
                         src="" data-image-width="1000" data-image-height="1000">
<!--                        <div class="u-container-layout u-container-layout-1"-->
<!--                             src="{% static 'main/css/images/main.png' %}"></div>-->
                                       <img class="u-container-layout u-container-layout-1"
                                 src="{% static 'main/css/images/main.png' %}">
                    </div>
                    <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-layout-cell-2">
                        <div class="u-container-layout u-valign-middle u-container-layout-2">
                            <ul class="u-align-left u-custom-font u-font-raleway u-text u-text-1">
                                <li>
                                    <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0);"></span>
                                    <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0);"></span>Self-paced
                                    learning
                                </li>
                                <li>Real-world tasks from job interviews</li>
                                <li>Community support and networking</li>
                                <li>Safe and inclusive environment</li>
                                <li>Programming language diversity<br>
                                </li>
                                <li>.. and many more!</li>
                            </ul>
                            <a href=""
                               class="u-active-white u-align-left u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-rectangle u-button-style u-hover-white u-none u-text-active-palette-1-base u-text-hover-palette-1-base u-btn-1">узнать
                                больше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style class="u-overlap-style">.u-overlap:not(.u-sticky-scroll) .u-header {
background-color: #ffffff !important
}
</style>
{% endblock %}