{% extends 'main/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/mission.css' %}" media="screen">
{% endblock %}
{% block content %}
<div class="mission-section">
    <div class="mission-header">
        <h1>Our Mission</h1>
        <p>Our coding school is dedicated to helping women overcome the significant challenges they face in the tech
            industry. By providing targeted support and resources, we aim to close the gender gap and empower women to
            succeed in STEM careers.</p>
    </div>

    <div class="mission-content">
        <div class="mission-text">
            <h2>Key Challenges Women Face in Tech</h2>
            <ul>
                <li><strong>Women Represent 35% of the STEM Workforce in the U.S.:</strong> Despite progress, women
                    remain underrepresented in tech. Our school aims to increase this percentage by equipping women with
                    the skills needed to thrive in the industry.
                </li>
                <li><strong>Gender gap in major tech companies:</strong> At top tech companies like Google, Apple, and
                    Microsoft, women make up <strong>only 33-45%</strong> of the workforce and even fewer in leadership roles. We aim to
                    support women in breaking through these barriers and achieving leadership positions.
                </li>
                <li><strong>Hiring bias:</strong> 65% of tech recruiters acknowledge bias in hiring, and many women face
                    unclear career paths. Our platform provides mentorship and interview preparation to help women
                    navigate these challenges and advance in their careers.
                </li>
                <li><strong>Women more affected by layoffs:</strong> Women in tech are <strong>1.6 times more</strong> likely to be laid
                    off, and many leave due to poor work-life balance. Our school’s flexible, self-paced learning and
                    career support will help women build more stable and fulfilling careers.
                </li>
                <li><strong>The pay gap:</strong> Women in tech <strong>earn $15,000 less</strong> than men on average. By providing
                    access to quality education and professional development, we aim to equip women to bridge this pay
                    gap and earn equal wages for equal work.
                </li>
            </ul>
        </div>

        <div class="mission-images">
            <img src="{% static 'main/css/images/piechart.png' %}" alt="piechart 1">
            <img src="{% static 'main/css/images/graph.png' %}" alt="graph 1">
        </div>
    </div>

    <div class="mission-conclusion">
        <p>Through our tailored courses, mentorship, and career support, we are committed to empowering women to
            overcome these statistics and succeed in the tech world.</p>
    </div>
</div>
{% endblock %}
