{% extends 'course/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/profile.css' %}" media="screen">
{% endblock %}
{% block content %}
<div class="profile-page">
    <ul class="messages" id="messages" hx-swap-oob="true">
        {% if messages %}
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </li>
        {% endfor %}
        {% endif %}
    </ul>
    <div class="promo-code-section">
        <form method="POST" class="profile-form">
            <h2>Generate Promocode</h2>
            {% csrf_token %}

            <div class="form-group">
                <label for="plan">Select Plan</label>
                {{ form.plan }}
            </div>

            <div class="form-group">
                <label for="duration">Duration (Months)</label>
                {{ form.duration }}
            </div>

            <div class="form-group">
                <label for="programming_languages">Programming Languages</label>
                {{ form.programming_languages }}
            </div>

            <div class="form-group">
                <label for="bonus_modules">Bonus Modules</label>
                {{ form.bonus_modules }}
            </div>
            <button type="submit" name="generate" class="btn-change">Generate Promo Code</button>
            {% if promo_code_str %}
            <div class="promo-code-display">
                <h3>Your Promo Code:</h3>
                <p><strong>{{ promo_code_str }}</strong></p>
            </div>
            {% endif %}
        </form>
    </div>


    <div class="promo-code-activation">
        <form method="POST" class="profile-form">
            <h2 id="profile-heading">Activate Promocode</h2>
            {% csrf_token %}
            <input type="text" name="promo_code" placeholder="Enter promo code" required>
            <button type="submit" name="activate" class="btn-change">Activate</button>

            {% if activation_result is not None %}
            {% if activation_result %}
            <p class="success">Promo code activated successfully!</p>
            {% else %}
            <p class="error">Failed to activate promo code.</p>
            {% endif %}
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
      const messages = document.querySelectorAll('.messages > li');

      messages.forEach((message) => {
        setTimeout(() => {
          message.classList.add('message-deleting');
          setTimeout(() => message.remove(), 250);
        }, 5000);
        message.addEventListener('click', () => {
          message.classList.add('message-deleting');
          setTimeout(() => message.remove(), 250);
        });
      });
    });
</script>
{% endblock %}