{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'main/css/team.css' %}" media="screen">

<section class="u-clearfix u-container-align-center u-section-1" id="sec-ee13">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-center u-container-align-center u-container-style u-layout-cell u-left-cell u-size-23 u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                            <!--                            <div alt="" class="u-image u-image-circle u-image-1"-->
                            <!--                                 src="{% static 'main/css/images/maria.png' %}" data-image-width="1024"-->
                            <!--                                 data-image-height="768"></div>-->
                            <img class="u-image"
                                 src="{% static 'main/css/images/maria.png' %}" alt="" data-image-width="1024"
                                 data-image-height="768">
                        </div>
                    </div>
                    <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-right-cell u-size-37 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <h2 class="u-align-left u-custom-font u-font-raleway u-text u-text-default u-text-1">
                                Maria</h2>
                            <p class="u-align-left u-custom-font u-font-raleway u-text u-text-2">something about me</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}