{% extends 'course/base.html' %}
{% block content %}
<div class="profile-page">
    <h2>Subscription Details</h2>

    {% if subscription %}
    <p><strong>Plan:</strong> {{ subscription.plan.name }}</p>

    {% if subscription.end_date %}
    <p><strong>Duration:</strong>
        {% if subscription.end_date %}
        {{ subscription.start_date }} to {{ subscription.end_date }}
        {% else %}
        Lifetime
        {% endif %}
    </p>
    {% endif %}

    <p><strong>Programming Languages:</strong>
        {% for lang in subscription.programming_languages.all %}
        {{ lang.display_name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p><strong>Bonus Modules:</strong>
        {% for module in subscription.bonus_modules.all %}
        {{ module.display_name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    {% else %}
    <p>You don't have an active subscription.</p>
    {% endif %}
</div>
{% endblock %}

