{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/main_header.css' %}">
{% endblock %}
<header>
    <div class="header-content">
        <div class="logo">
            <a href="{% url 'main:index' %}">
                <span>KOOKEN</span>
            </a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'main:index' %}" class="{% if request.path == '/' %}active{% endif %}">home</a>
                </li>
                <li>
                    <a href="{% url 'main:mission' %}" class="{% if request.path == '/mission/' %}active{% endif %}">mission</a>
                </li>
                <li>
                    <a href="{% url 'main:courses' %}" class="{% if request.path == '/courses/' %}active{% endif %}">courses</a>
                </li>
                <li>
                    <a href="{% url 'main:team' %}" class="{% if request.path == '/team/' %}active{% endif %}">team</a>
                </li>
            </ul>
        </nav>
        <div class="auth-buttons">
            <a href="{% url 'users:login' %}">
                <button class="auth-btn">Login</button>
            </a>
            <a href="{% url 'users:register' %}">
                <button class="auth-btn">Register!</button>
            </a>
        </div>
    </div>
</header>