@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Rubik+Doodle+Shadow&display=swap');

.admin-page .admin-header {
    text-align: center;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    color: #b07afe;
    padding: 20px 0px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.container {
    text-align: center;
    justify-content: center;
    margin-top: 0px;
}

.admin-text {
    text-align: center;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    color: black;
    padding: 20px 0;
    font-size: 18px;
    font-weight: bold;
}

.admin-link {
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.admin-link:hover {
    text-align: center;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    color: #b07afe;
    font-size: 18px;
    font-weight: bold;
}

table {
    width: 1200px;
    border-collapse: collapse;
    font-family: 'Raleway', sans-serif;
    color: black;
    margin: 20px auto;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 0 5px rgba(176, 122, 254, 0.5);
}

th, td {
    border: 1px solid #b07afe;
    padding: 8px;
}

th {
    background-color: #ffffff;
}

tr:hover {
    background-color: #d6bfff;
}

.filter-container {
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    gap: 10px;
    justify-content: center;
}

.filter-container label {
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
}