@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Rubik+Doodle+Shadow&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 0px; /* kostyl */
    background-color: white;
}

body::-webkit-scrollbar-thumb {
    background-color: #b07afe;
    border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #4b45c4;
}

.course-page {
    display: flex;
    padding: 20px;
    justify-content: flex-start;
    transition: all 0.3s ease-in-out;
}

.left-panel {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: max-width 0.3s ease;
}

.course-page h3 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #b07afe;
    margin-bottom: 10px;
}

.lesson-list ul {
    list-style-type: none;
    padding: 0;
}

.lesson-list ul li {
    margin: 10px 0;
}

.lesson-list ul li a {
    color: black;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.lesson-list ul li a:hover {
    font-weight: bold;
    color: #b07afe;
}

.right-panel {
    flex: 3;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.video-container {
    margin-bottom: 20px;
}

.video-container iframe {
    width: 100%;
    height: 400px;
}

.additional-resources-container {
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.left-panel.hidden {
    max-width: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
}

.right-panel.full-width {
    flex: 1;
}

/* Стили для теста */
.test-section,
.homework-section,
.comments-section {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Заголовок теста */
.test-section,
.homework-section,
.comments-section h4 {
    font-size: 24px;
    color: black;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

.test-section,
.homework-section,
.comments-section p {
    font-size: 20px;
    color: black;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.5;
}

/* Стили для вопросов теста */
.test-section .question {
    margin-bottom: 20px;
}

.test-section .question p {
    font-size: 18px;
    color: #555;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}

/* Стили для вариантов ответа */
.test-section .question label {
    display: block;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #444;
    padding: 6px 0;
}

.test-section .question input[type="radio"] {
    margin-right: 10px;
}

/* Стили для кнопки отправки теста */
.test-section button {
    background-color: #b07afe;
    color: black;
    font-family: 'Raleway', sans-serif;
    padding: 12px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.test-section button:hover {
    background-color: black;
    color: #b07afe;
}

.test-section button:focus {
    outline: none;
}

/* Стили для ошибок или предупреждений (например, если не все вопросы были отвечены) */
.test-section .error {
    color: red;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
}

.toggle-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: white;
    border: 2px solid #b07afe;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    margin-right: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #b07afe;
    transition: all 0.3s ease;
}

.toggle-button:hover {
    background-color: #b07afe;
    color: black;
}

.toggle-button.active {
    background-color: #b07afe;
    color: black;
}

.pdf-link {
    padding: 10px 20px;
    cursor: pointer;
    background-color: white;
    text-decoration: none;
    border: 2px solid #b07afe;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    margin-right: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #b07afe;
    transition: all 0.3s ease;
}

.pdf-link:hover {
    background-color: #b07afe;
    color: black;
}

.report-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: white;
    border: 2px solid #b07afe;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #b07afe;
    transition: all 0.3s ease;
}

.report-button:hover {
    background-color: #b07afe;
    color: black;
}

.section {
    display: none;
}

/* Стили для активной секции */
.section.active {
    display: block;
}

/* Стили для активных кнопок */
button.active {
    background-color: #b07afe; /* Измените по вашему усмотрению */
}

input[type="url"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    margin-bottom: 10px;
}

input[type="url"]:focus,
input[type="url"]:hover {
    border-color: #b07afe;
    outline: none;
    box-shadow: 0 0 8px rgba(176, 122, 254, 0.5);
}

button[type="submit"] {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #b07afe;
    text-decoration: none;
    border: 2px solid #b07afe;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: black;
    transition: all 0.3s ease;
}

/* Стили для кнопки при наведении */
button[type="submit"]:hover {
    background-color: black;
    color: #b07afe;
}

/* Стили для секции комментариев */
.comments-section {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd; /* Легкая рамка */
    border-radius: 5px;
    background-color: #f9f9f9; /* Светлый фон */
}

/* Стили для заголовка секции комментариев */
.comments-section h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

/* Стили для блока существующих комментариев */
.existing-comments {
    margin-bottom: 20px;
}

/* Стили для каждого отдельного комментария */
.comment {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Выравнивание текста по левому краю */
.comment p {
    text-align: left;
    margin: 5px 0;
}

.comment strong {
    font-weight: bold;
    color: #b07afe; /* Цвет имени пользователя */
}

.comment small {
    font-size: 12px;
    color: #888;
}

/* Стили для поля ввода комментария (textarea) */
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    margin-bottom: 10px;
}

textarea:focus,
textarea:hover {
    border-color: #b07afe;
    outline: none;
    box-shadow: 0 0 8px rgba(176, 122, 254, 0.5);
}
