@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Rubik+Doodle+Shadow&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 0px; /* kostyl */
    background-color: white;
}

body::-webkit-scrollbar-thumb {
    background-color: #b07afe;
    border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #4b45c4;
}

.mission-section {
    padding: 20px;
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.mission-header h1 {
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    color: #b07afe;
    margin-bottom: 10px;
    text-align: center;
}

.mission-header p {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color: black;
    line-height: 1.6;
    text-align: center;
}

.mission-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.mission-text {
    flex: 1;
    padding-right: 20px;
}

.mission-text h2 {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

.mission-text ul {
    list-style-type: disc;
    padding-left: 20px;
}

.mission-text li {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
    color: black;
    text-align: justify;
}

.mission-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
}

.mission-images img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin: 0 auto;
}

.mission-conclusion {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 2px solid #b07afe;
    text-align: center;
}

.mission-conclusion p {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #black;
    max-width: 900px;
    margin: 0 auto;
}